/* Ajoutez cette règle pour aligner les contacts en colonne */
.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrez les éléments horizontalement */
    text-align: center; /* Centrez le texte horizontalement */
}
img{
    width: 40px;
}


